*.db
*.sqlite
*.sqlite3
*~
.#*
.DS_Store
.hg/*
.hgignore
.svn/*
TAGS
config.ru
bin/*
config/database.yml
config/settings.yml
Capfile
config/deploy.rb
gems/*
log/*
schema/*.db
schema/*.sqlite
schema/*.sqlite3
schema/*_structure.sql
schema/schema.rb
src/*
tmp/*
