<h1><%= new_or_edit %> Article</h1>
<div class="row">
<%= error_messages_for @article %>
</div>

<%= form_for(@article, :action => url(:admin_articles), :class => "article_form") do %>
<%= partial "form", :with => @article %>

<% end =%>
